.app-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 1px black solid;
  color: white;
  align-items: center;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
